/* =========================
table of contents 
=========================

1- Header Design
2- Button & icon
3- Modal == pop up
4- Responsive Design (media query)

 */

/* 
=======================
 1- Header Design
======================= */

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 15px #60d6da;
}
.light header.flex nav{
    box-shadow: 1px 1px 15px var(--subtitle);

}

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9;
}






header button {
    font-size: 2rem;
}

/* 
header button.menu{
    display: none;
} */



/* 
=======================
2- Button & icon
======================= */

header .icon-menu_open,
header button.mode {
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid #60d6da;
    font-size: 30px;
    transition: 0.2s;
    box-shadow: 1px 1px 10px rgba(35, 35, 36, 0.575);
}

header .icon-sun {
    color: rgb(255, 165, 0);
    font-size: 25px;
}

 .light header .icon-menu_open:hover,
 .light header button.mode:hover {
    color: var(--title);
    border: 1px solid #484949;
}
.light header .icon-menu_open,
.light header button.mode {
   color: var(--title);
   border: 1px solid #484949;
}

header .icon-menu_open:hover,
header button.mode:hover {
    color: var(--title);
    border: 1px solid #60d6da;
}

header .icon-close {
    font-size: 1.5rem;
    color: var(--subtitle);
    transition: 0.3s;
}

header .icon-close:hover {
    font-size: 1.7rem;
    color: #60d6da;
    rotate: 180deg;
}
.light header .icon-close:hover{
    color: var(--subtitle);
   
    
        font-size: 1.7rem;
        color: #60d6da;
        rotate: 180deg;
}

/* 
=======================
3- Modal == pop up
======================= */

header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.3);
    backdrop-filter: blur(9px);

}


header .fixed ul.modal {
    animation: mymove 0.8s 1;
    width: 70%;
    margin: 3rem auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    box-shadow: 1px 1px 25px #60d6da;
}

.light header .fixed ul.modal{
    box-shadow: 5px 5px 15px var(--subtitle),  -5px -5px 15px var(--subtitle);

}

header .fixed ul.modal li {
    border-bottom: 1px solid var(--border);
    padding: 0.5rem 0;
}


header .fixed ul.modal li:last-child {
    border: none;
}

header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding: 0.2rem 0 0;
    margin-bottom: -1.3rem;

}


/* 
=======================
4- Responsive Design (media query)
======================= */

@media (max-width: 700px) {
    header.flex nav {
        display: none;
    }
}

@media (min-width: 700px) {
    button.menu {
        display: none;
    }

    header .fixed {
        display: none;
    }

}